<body>

    <div class="content">
      <nav
        class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0"
      >
        <a href="/admin/home" class="navbar-brand d-flex d-lg-none me-4">
          <h2 class="text-primary mb-0"><i class="fa fa-home"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0 m-3">
          <i class="fa fa-bars"></i>
        </a>
      </nav>

      <button class="btn btn-light mt-3 ms-4"><a href="/admin/product"><i
            class="fa fa-reply btn-light"
          ></i></a></button>
      <!-- Form Start -->
      <div class="container-fluid pt-4 px-4">`
        <div class="row g-4">
          <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
              <h2 class="mb-4">Product Add Page</h2>
              <form
                action="/admin/adminAddNewProduct"
                method="post"
                enctype="multipart/form-data"
              >

                <div class="form-floating mb-3">
                  <input
                    name="productName"
                    type="text"
                    class="form-control"
                    required
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                  />
                  <label for="floatingInput">Product Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" placeholder="Category" required name="Category" />
                 
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="brandName" placeholder="Brand" />
                </div>
                <div class="d-flex">
                    <label for="">Price</label>
                  <div class="form-floating mb-3 col-sm-4 col-md-3 ms-3">
                    
                    <input
                      name="Price"
                      type="number"
                      class="form-control"
                      required
                      aria-label="Sizing example input"
                      placeholder="Price"
                      aria-describedby="inputGroup-sizing-default"
                    />
                  </div>

                
<label for="">Quantity</label>
                  <div class="form-floating mb-3 col-sm-4 col-md-3 ms-3">
                    <input
                      name="Quantity"
                      type="number"
                      class="form-control"
                      required
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      placeholder="Quantity"
                    />
                  </div>
                </div>
               
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Add Product
                    Photos</label>
                                     <input type="file" class="form-control" required  name="productImage" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" >

                </div>

                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-info">reset</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"
    ></script>

    

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script
      src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
    ></script>

    <script src="js/main.js"></script>
  </body>

</html>