 <!-- Main -->
 <main class="main-container">
  <div class="main-title">
    <p class="font-weight-bold">DASHBOARD</p>
  </div>

  <div class="main-cards">

   <div class="card">
      <div class="card-inner">
        <p class="text-primary">Category</p>
        <span class="material-icons-outlined text-blue">inventory_2</span>
      </div>
      <span class="text-primary font-weight-bold">249</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">Products</p>
        <span class="material-icons-outlined text-orange">add_shopping_cart</span>
      </div>
      <span class="text-primary font-weight-bold">83</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">Orders</p>
        <span class="material-icons-outlined text-green">shopping_cart</span>
      </div>
      <span class="text-primary font-weight-bold">79</span>
    </div>

    <div class="card">
      <div class="card-inner">
        <p class="text-primary">Users</p>
        <span class="material-icons-outlined text-red">notification_important</span>
      </div>
      <span class="text-primary font-weight-bold">56</span>
    </div>

  </div>

  <div class="charts">

    <div class="charts-card">
      <p class="chart-title"> <span><img src="https://e7.pngegg.com/pngimages/166/630/png-clipart-cricket-helmet-united-states-national-cricket-team-cricket-clothing-and-equipment-cricket-sports-equipment-motorcycle-helmet-thumbnail.png" style="width: 50px; height:50px;" alt=""> 
      <img src="https://4.imimg.com/data4/WD/GU/MY-4931499/ss-hi-tech-batting-gloves-500x500.jpg" style="width: 50px; height:50px;" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSceO0gHaUTsCrNKVAo6n45RYe7LjUaapYYlQ&usqp=CAU"  style="width: 50px; height:50px;" alt=""></span> Top 3 Products</p>
      <div id="bar-chart"></div>
    </div>
    <div class="charts-card">
      <p class="chart-title" style="margin-top:18px ;">Best Selling product</p>
      <div id="bar-chart"></div>
    </div>
    <div class="charts-card">
      <p class="chart-title">Top 5 Products</p>
      <div id="bar-chart"></div>
    </div>

    <div class="charts-card">
      <p class="chart-title">Purchase and Sales Orders</p>
      <div id="area-chart"></div>
    </div>z

  </div>
</main>
<!-- End Main -->

</div>

<!-- Scripts -->
<!-- ApexCharts -->
