<main class="main-container">
  <div class="main-title">
    <p class="font-weight-bold"></p>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add brand
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <form action="/admin/brandCategory" method="post">
            <input type="text" name="_brand" required id="inputPassword5" class="form-control"
              aria-describedby="passwordHelpBlock">
        </div>
        <div class="modal-footer">

          <button type="submit" class="btn btn-primary">Save</button>

        </div>
        </form>
      </div>
    </div>
  </div>


  <script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
  </script>



  <div class="table-responsive" id="brandTable">
    <table class="table table-bordered" style="border: 1px solid black;">
      <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Brand
      </button>
      <div style="height:17px ;"></div>
      <thead class="bg-secondary">
        <tr>
          <th>Brand Name</th>

          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<Brand.length;i++) { %>
          <tr>
            <td style="border-color: black; ">
              <%= Brand[i]._brand %>
            </td>


            <td class="text-center" style="border-color: black;     width: 8rem;"><button class="btn btn-danger" onclick="deleteBrand('<%= Brand[i]._id %>')">DELETE</button>
            </td>
          </tr>
          <% } %>


          <script>
            function  deleteBrand(brandId){
              swal({
                title:"DELETE",
                text:"DO YOU WANT TO DELETE THIS BRAND",
                icon:"warning",
                buttons:["CANCEL","OK"]
              }).then(val=>{
                if(val){
                  fetch('/admin/deleteBrand?id='+brandId,
                  {
                    method:'delete',
                  }).then(res=> res.json()).then(data => {
                    if(data.status){
                      swal({
                        title:"SUCCESS",
                        text:"BRAND SUCCESSFULLY DELTED",
                        icon:"success",
                        button:'OK'
                      }).then(val=>{
                        location.reload()
                      })
                    }else{
                      swal({
                        title:"WARNING",
                        text:"CATEGOORY ALREADY IN USE",
                        icon:"SUCCESS",
                        button:"OK"
                      }).then(val=>{
                        location.reload()
                      })
                    }
                  })
                }
              })
            }
          </script>