<div class="container">
    <div class="row">
        <form action="">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form1Example1">Edit Category</label>
              <input type="email" type="text"  id="form1Example1" class="form-control" />
             
            </div>
          
            <!-- Password input -->
          
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
               
              </div>

            </div>
          
            <!-- Submit button -->
            <div class="d-grid gap-2 d-md-flex justify-content-md-end m-5">
                <a href="" class="btn btn-success btn-md active" role="button" aria-pressed="true">Edit Category</a>
                </div>
          </form>
    </div>
</div>
