<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Cric Store</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords"
    content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
 
<!-- css -->
<link rel="stylesheet" href="/css/userHeader.css">

    
  <!-- web fonts -->
  <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
    rel="stylesheet">
  <link
    href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
    rel="stylesheet">
  <!-- //web fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>


<body >



  <!-- nav -->

  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">Cric Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light " aria-current="page" href="/homeButton">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/about">About Us</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link text-light" href="/contact">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <% if(userData) { %>

            <div class="btn-group">

              <button type="button" style="margin-left: 48px;" type="button" class="btn btn-danger dropdown-toggle  "  data-bs-toggle="dropdown"
                aria-expanded="false">
                <%= userData.Name %>
              </button>
              <ul class="dropdown-menu " style="background-color: white;">
               <br>

                <a href="/users/cart">
                  <span class=" ml-2" onclick="cartMessage()" ><i class="fas fa-shopping-cart "></i>
                     <span  id="cart-count"><%- cartCount %>    Cart 
                        
                      </span></span>  </a><br><br>



                <a href="/users/profile">
                  <span class=" ml-2 pb-2" ><i class="fa-solid fa-user"></i></i> <span class="badge  mb-1"
                        id="cart-count"></span></span>Profile</a><br><br>
  
                        <a  href="/users/wishList">
                          <span class=" ml-2 " ><i class="fa-solid fa-heart"></i></i> <span class="badge badge-success mb-1"
                                id="wishlist-count"></span></span>Wishlist</a><br><br>
                                <a class="ml-2 " href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span class="ml-1">Log out</span> </a>

                                  
              </ul>
            </div>
            <% } else { %>
              <div class="btn-group" >

                <button type="button" style="    width: 100%;    padding-left: 39px;
                padding-right: 39px;" type="button"  class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">Account
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/usersLogin">Log IN</a></li><br>
                  <li><a class="dropdown-item" href="/header/usersignup">Register</a></li><br>
                </ul>
              </div>
              <% } %>
        </form>
        <li></li>

             
      </div>
    </div>
  </nav>





<script>
  function cartMessage(){
    if(cartCount==0){
    alert("Cart is empty")
    }
  }
</script>
















</body>

<script>
  addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>

</html>