<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Cric Store</title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords"
    content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
 
<!-- css -->
<link rel="stylesheet" href="/css/userHeader.css">

    
  <!-- web fonts -->
  <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
    rel="stylesheet">
  <link
    href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
    rel="stylesheet">
  <!-- //web fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>


<body>

  <div class="agile-main-top">
    <div class="container-fluid px-0">
      <div class="row main-top-w3l py-2">
        <div class="col-lg-4 header-most-top">
          <a href="/">
            <p class="text-white text-lg-left text-center pl-3 fs-4">Cric Store
          </a>

          </p>
        </div>
        <div class="col-lg-8 header-right mt-lg-0 mt-2">
      
          <ul style="margin-left: 257px;">
            <li class="text-center  text-white ">
              <a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
                <i class="fa  er mr-2"></i></a>
            </li>
            <li class="text-center  text-white">
              <a href="#" d data-target="#exampleModal" class="text-white">
                <i class="fas f"></i></a>
            </li>
            
            
            <li style="" class="text-center   text-white">

                <% if(userData) { %>

                  <div class="btn-group">

                    <button type="button" style="margin-left: 48px;" type="button" class="btn btn-danger dropdown-toggle "  data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <%= userData.Name %>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/logout">Logout</a></li><br>
                    </ul>
                  </div>
                  <% } else { %>
                    <div class="btn-group">

                      <button type="button" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">Account
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/usersLogin">Log IN</a></li><br>
                        <li><a class="dropdown-item" href="/header/usersignup">Register</a></li><br>
                      </ul>
                    </div>
                    <% } %>
              </li>




                      <li><a href="/users/cart">
              <span class="btn btn-dark" onclick="cartMessage()" style=" margin-left: 36px;"><i class="fas fa-shopping-cart ml-1"></i>Cart
                  <span class="badge badge-success mb-1" id="cart-count">
                    <%- cartCount %>
                  </span></span></a></li>
            <a href="/users/profile">
                <span class="btn btn-dark " ><i
                      class="fa-regular fa-user"></i></i> <span class="badge badge-success mb-1"
                      id="cart-count"></span></span></a>




                      <a style="" href="/users/wishList">
                        <span class="btn btn-dark " ><i class="fa-solid fa-heart"></i></i> <span class="badge badge-success mb-1"
                              id="wishlist-count"></span></span></a>


          </div>

          </ul>

        </div>

      </div>

    </div>
    </div>





  <!-- //home  section  -->

  <div class="navbar-inner border">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="agileits-navi_search">
          <form action="#" method="post">
            <select name="Category" class="form-select align-content-center" value="<%= products.Category %>"
              aria-label="Default select example">
              <% for (var i=0;i<CategoryDetails.length;i++) { %>

                <option selected>
                  <%= CategoryDetails[i]._category %>
                </option>
                <% } %>

                  <option></option>

            </select>
          </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-5 " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto text-center mr-xl-5  ">
            <li class="nav-item active mr-lg-2 mb-lg-0 mb-2 ">
              <a class="nav-link " href="/homeButton">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>


            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
              <a class="nav-link" href="/users/checkOut">Check Out</a>
            </li>
            <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Pages
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="product.html">Product 1</a>
                <a class="dropdown-item" href="product2.html">Product 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="single.html">Single Product 1</a>
                <a class="dropdown-item" href="single2.html">Single Product 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="checkout.html">Checkout Page</a>
                <a class="dropdown-item" href="payment.html">Payment Page</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </div>






<script>
  function cartMessage(){
    if(cartCount==0){
    alert("Cart is empty")
    }
  }
</script>
















</body>

<script>
  addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
  }, false);

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>

</html>