
<body class="bg-light">
    



<!-- about -->
<div class="welcome py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <span>A</span>bout
            <span>U</span>s</h3>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-6 welcome-left">
                <h3>Welcome</h3>
                <h4 class="my-sm-3 my-2">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta erat sit amet eros sagittis, quis hendrerit
                    libero aliquam. Fusce semper augue ac dolor efficitur, a pretium metus pellentesque.</p>
            </div>
            <div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
                <img style="    width: 33rem;" src="https://c8.alamy.com/comp/C99MY8/interior-of-the-shop-at-headingley-home-of-yorkshire-cricket-club-C99MY8.jpg" class="img-fluid" alt=" ">
            </div>
        </div>
    </div>
</div>
<!-- //about -->

<!-- testimonials -->
<div class="testimonials py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
            <span>O</span>ur
            <span>C</span>ustomers
            <span>S</span>ays</h3>
        <!-- tittle heading -->
        <div class="row gallery-index">
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                       <span><i class="fa-sharp fa-solid fa-users"></i></span> 
                                        </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Tyson</h4>
                        <p>fames ac turpis</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row med-testi-left my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                       <span><i class="fa-sharp fa-solid fa-users"></i></span> 
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Alejandra</h4>
                        <p>fames ac turpis</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row med-testi-left mt-sm-5 my-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <span><i class="fa-sharp fa-solid fa-users"></i></span> 
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Charles</h4>
                        <p>fames ac turpis</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 med-testi-grid">
                <div class="med-testi test-tooltip rounded p-4">
                    <p>"sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="row med-testi-left mt-5">
                    <div class="col-lg-2 col-3 w3ls-med-testi-img">
                        <span><i  class="fa-sharp fa-solid fa-users"></i></span> 
                    </div>
                    <div class="col-lg-10 col-9 med-testi-txt">
                        <h4 class="font-weight-bold mb-lg-1 mb-2">Jessie</h4>
                        <p>fames ac turpis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->

<!-- footer -->
<!-- middle section -->
<div class="join-w3l1 py-sm-5 py-4 " >
    <div class="container py-xl-4 py-lg-2">
        <div class="row">
            <div class="col-lg-6">
                <div class="join-agile text-left p-4 bg-dark ">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Adidas Spikes </h6>
                            <h4 class="mt-2 mb-3">Adidas Spikes</h4>
                            <p>Sale up to 25% off all in store</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSD2hagM2cYohDh0xNAqThvw-J5y1VlpHaqA&usqp=CAU" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="join-agile text-left p-4 bg-dark">
                    <div class="row">
                        <div class="col-sm-7 offer-name">
                            <h6>Puma Spikes </h6>
                            <h4 class="mt-2 mb-3">Puma Spikes</h4>
                            <p>Sale up to 25% off all in store</p>
                        </div>
                        <div class="col-sm-5 offerimg-w3l">
                            <img src="https://www.allroundercricket.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/1/0/10550910-5-min.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="color:black ;">
<!-- middle section -->

<!-- footer -->
<footer>
    <div class="footer-top-first">
        <div class="container py-md-5 py-sm-4 py-3">
            <!-- footer first section -->
            <h2 class="footer-top-head-w3l font-weight-bold mb-2">Cric Store:</h2>
            <p class="footer-main mb-4">
                E-commerce is revolutionizing the way we all shop in India. Why do you want 
                to hop from one store to another in search of the latest product when you can find 
                it on the Internet in a single click? . Cric Store houses everything
                 you can possibly imagine, from trending products  like premium edition bats, gloves, helmets,
                  and shoes, clothing and lifestyle 
                  accessories;  we got them all covered. You name it, and you can
                     stay assured about finding them all here. For those of you with erratic working hours, Cric Store is 
                     your best bet. Shop in your PJs, at night or in the wee hours of the morning. This e-commerce never 
                     shuts down.
                     <!-- //footer first section -->
            <!-- footer second section -->
            <div class="row w3l-grids-footer border-top border-bottom py-sm-4 py-3">
                <div class="col-md-4 offer-footer">
                    <div class="row">
                        <div class="col-4 icon-fot">
                            <i class="fas fa-dolly"></i>
                        </div>
                        <div class="col-8 text-form-footer">
                            <h3>Free Shipping</h3>
                            <p>on orders over $100</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offer-footer my-md-0 my-4">
                    <div class="row">
                        <div class="col-4 icon-fot">
                            <i class="fas fa-shipping-fast"></i>
                        </div>
                        <div class="col-8 text-form-footer">
                            <h3>Fast Delivery</h3>
                            <p>World Wide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offer-footer">
                    <div class="row">
                        <div class="col-4 icon-fot">
                            <i class="far fa-thumbs-up"></i>
                        </div>
                        <div class="col-8 text-form-footer">
                            <h3>Big Choice</h3>
                            <p>of Products</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //footer second section -->
        </div>
    </div>
    <!-- footer third section -->
</body>