<div style="background: #eeeeee;">
    <div class="container-fluid pb-5" style="padding-top: 30px;">
        <h1>Ordered SuccessFully</h1>
        <br><br>
        <h3>Thank you for choosing us</h3>
        <div>
            <h3><a href="/orderList">View Order Details</a></h3>
        </div>
    </div>
</div>