<body style=" background-color: white;    overflow-x: hidden;">
    

    <div class="container">
        <div class="row">
            <div style="background: white;">
                <div class="container-fluid pb-5 text-center" style="padding-top: 30px;">
                    <h1 class="fw-bold">Ordered SuccessFully</h1>
                    <br><br>
                    <h3>Thank you for choosing us</h3>
                    <div>

                        <h3><a class="btn btn-success mt-4" href="/orderList">View Order Details</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>