
<style>
	.input{
    width: 368px;
    height: 39px;
    border-radius: 8px;
	}
</style>
<section class="vh-100 bg-dark text-white">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6 text-black ">
		  <div class="px-5 ms-xl-4 mt-5">
			
			<span class="h1 fw-bold mb-5 m-5 p-5 text-white">LOGIN </span>
		  </div>
  
		  <div
			class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5"
		  >
		   <div class="m-5 p-5">
			<form  method="post" action="/login"style="width: 23rem" onsubmit="return otpvalidation()">
			 <label for="otp verification"><h5 class="text-white">Username</h5></label><br>
			 <input type="text" id="name" name="username" placeholder="Enter your username" aria-label="Large" class="form-control" ><br><br>
			 <span id="usernameError"></span>
  
			 <label for="otp verification"><h5 class="text-white">Password</h5></label><br>
			 <input type="Password" id="pass" name="Password" your placeholder=" Enter your Password" aria-label="Large" class="form-control" class="input"  ><br><br>
			 
			 <span id="passwordError"></span>
  
		  
			 <input type="submit"  class="btn btn-success rounded-pill">
			</form>
		   </div>
		  </div>
		</div>
		<div class="col-sm-6 px-0 d-none d-sm-block">
		  <img
			src="https://w0.peakpx.com/wallpaper/613/558/HD-wallpaper-virat-kohli-icc-ind-vs-aus-india-latest-virat-kohli.jpg"
			alt="Login image"
			class="w-100 vh-100"
			style="object-fit: cover; object-position: left"
		  />
		</div>
	  </div>
	</div>
  </section>
  
  
  <script>
	function validation(){
	  let flag = 0;
	  let username = document.getElementById('namee').value.trim()
	  let password = document.getElementById('password').value.trim()
  
	  if(username==""){
		document.getElementById('usernameError').innerHTML = 'username required'
  
		flag = 1
  
	  }else if(username.length < 3 ){
		document.getElementById('usernameError').innerHTML = ' enter atleast 3 charecter'
		flag = 1
	  }else{
		document.getElementById('usernameError').innerHTML = ""
	  }
  
	  if(password == ""){
		document.getElementById('passwordError').innerHTML = ' password required'
		flag = 1
  
	  }else{
		document.getElementById('passwordError').innerHTML = ""
	  }
	  if(flag==1){
	  return false
	  }
	}
  </script>
  