<body style="    overflow-x: hidden;">
<section class="bg-light">
  <div class="container-fluid border ">
    <div class="row">

        <% for(var i=0;i<orderList.length;i++) { %>
          <div class="col-4">
          <div class="card mt-5 mb-5" style="width: 18rem; border-left: 7px solid #ffffff; ">
            <img src="<%= orderList[i].deliveryDetails.products.productDetails.file_url %>" class="card-img-top"
              style="width:15rem ; height:15rem;" alt="image here">
            <div class="card-body">
              <h5 class="card-title text-center fw-bold">
                <%= orderList[i].deliveryDetails.products.productDetails.productName %>
              </h5>
              <p class="card-text text-center text-danger">RS:<%=
                  orderList[i].deliveryDetails.products.productDetails.Price %>
              </p>
              <p class="text-center" >Quantity : <%= orderList[i].deliveryDetails.products.quantity %></p>
            </div>
          </div>
      </div>
      <% } %>
    </div>
  </div>
  </div>
</section>
</body>




<!-- nicnsdncsbciubsiuc -->